@model LookupViewModel

<div x-data="lookupComponent({
                id: '@Model.Id',
                selectedHandler: '@Model.SelectedDataHandlerName',
                displayProperty: '@Model.DisplayProperty'
              })"
     class="w-full space-y-2">
    <div>
        <label class="block text-sm font-medium text-slate-700 dark:text-white">@Model.Label</label>
        <input type="text"
               name="searchQuery"
               x-model="searchTerm"
               hx-post="?handler=@Model.SearchHandlerName"
               hx-trigger="keyup changed delay:500ms, keydown[key=='Enter']"
               x-on:htmx:config-request="event.detail.headers['X-ItemSelected'] = (event.detail.triggeringEvent?.key === 'Enter')"
               hx-target="#lookup-results-@Model.Id"
               x-on:keydown.enter.prevent=""
               x-on:keydown.escape.prevent=""
               class="text-sm w-full rounded-lg border border-slate-200 dark:border-emerald-600 bg-slate-50 dark:bg-emerald-700 text-slate-800 dark:text-white px-2 py-1 focus:outline-none focus:ring-2 focus:ring-field-green-500">
    </div>
    <div id="lookup-results-@Model.Id"
         x-show="showGrid"
         x-on:click.away="showGrid = false"
         x-transition
         class="absolute left-0 right-0 z-[100] bg-white dark:bg-emerald-800 rounded-lg shadow-xl border border-slate-200 dark:border-emerald-700 overflow-hidden"
         style="display: none;">
    </div>
</div>