<div x-data="{}">
    <dialog id="modal-container"
            x-ref="modalContainer"
            x-on:close="document.getElementById('modal-container-outside-content').innerHTML = ''"
            class="bg-white dark:bg-emerald-800 rounded-xl shadow-xl outline-none w-full max-w-md mx-4 backdrop:bg-black/50 backdrop:backdrop-blur-sm fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <div id="modal-container-content">
            <p class="p-4">Carregando formulário...</p>
        </div>
    </dialog>
    <div id="modal-container-outside-content"></div>
</div>