@model NavMenuItemViewModel

<li>
    <a href="@Model.Path"
       class="flex items-center gap-3 px-4 py-3 rounded-lg text-slate-700 dark:text-white hover:bg-gray-100 dark:hover:bg-emerald-700 transition-colors">
        @await Html.PartialAsync(PartialViewId.NavMenuIcon, Model.Id)
        <span class="sidebar-text">@Model.Name</span>
    </a>
</li>


@* class="flex items-center gap-3 px-4 py-3 rounded-lg bg-green-50 dark:bg-emerald-900/30 text-green-700 dark:text-emerald-400 font-medium hover:bg-green-100 dark:hover:bg-emerald-900/60 transition-colors" *@